/*GENERAL*/

/*Sets the desert picture as the background*/
body {
	background-image: url(road.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/*The id set for the "Redlines" title*/
#p01 {
	text-align: center;
	color: #E62225;
	font-family: impact, arial, sans-serif;
	font-size: 500%;
	padding: 0px;
	margin: 30px;
	text-shadow: 2px 2px 5px #000000;
}
/*div.links and a.links are the same, in the code both the div(for multiple links on same line) and a(for the link) have to have class links*/
div.links {
	text-align: center;
	color: #EEC1C3;
	font-family: impact, arial, sans-serif;
	font-size: 100%;
	text-shadow: 2px 2px 5px #9E7173;
	text-decoration: none;
	margin: 3px;
}

a.links {
	text-align: center;
	color: #EEC1C3;
	font-family: impact, arial, sans-serif;
	font-size: 100%;
	text-shadow: 2px 2px 5px #9E7173;
	text-decoration: none;
	margin: 3px;
}
/*Turns the link off-white when you hover*/
a:hover {
	color: #FEF1F3;
}
/*A pure white indicating the page you're on*/
span.select {
	color: #FFFFFF;
	margin: 3px;
}

/*NEWS*/

/*The id set for the news title*/
#news {
	color: #E62225;
	font-family: impact, arial, sans-serif;
	font-size: 200%;
	padding: 0px;
	margin: 30px;
	text-shadow: 2px 2px 5px #000000;
}
/*Creates the block for the individual posts*/
div.newspost {
	background-color: rgba(127, 127, 127, 0.7);
	height: 200px;
	width: 700px;
}
/*A second invisible div block is created so the text is all the way to the right*/
div.newstextwrap {
	width: 600px;
}
/*Setting the style of the text in the news update*/
p.newstext {
	font-size: 120%;
	float: right;
	text-align: right;
	font-family: impact, arial, sans-serif;
}
/*Setting the style of the news date*/
span.newsdate {
	font-size: 160%;
	text-shadow: 2px 2px 5px #000000;
	color: #E62225;
}
/*Scaling the newspost pic so it fits*/
img.newspic {
	width: 160px;
	height: 160px;
	margin: 20px;
}

/*ABOUT*/

/*Settings for the block with the about*/
div.about {
	background-color: rgba(127, 127, 127, 0.7);
	height: 200px;
	width: 700px;
	margin: auto;
}
/*The text that is the about*/
p.about {
	margin: 10px;
	font-size: 120%;
	text-align: center;
	font-family: impact, arial, sans-serif;
}

/*CONCERTS*/

/*The id set for the title*/
#concertsTitle {
	color: #E62225;
	font-family: impact, arial, sans-serif;
	font-size: 200%;
	padding: 0px;
	margin: 30px;
	text-shadow: 2px 2px 5px #000000;
}
/*Creates the block for the individual concerts*/
div.concertpost {
	background-color: rgba(127, 127, 127, 0.7);
	height: 200px;
	width: 700px;
}
/*A second invisible div block is created so the text is all the way to the right*/
div.concerttextwrap {
	width: 600px;
}
/*Setting the style of the text in the concert info*/
p.concerttext {
	font-size: 120%;
	float: right;
	text-align: right;
	font-family: impact, arial, sans-serif;
}
/*Setting the style of the concert date*/
span.concertdate {
	font-size: 160%;
	text-shadow: 2px 2px 5px #000000;
	color: #E62225;
}
/*Scaling the concert pic so it fits*/
img.concertpic {
	width: 160px;
	height: 160px;
	margin: 20px;
}

/*ALBUMS*/

/*Creates the block for the individual albums*/
div.albumpost {
	background-color: rgba(127, 127, 127, 0.7);
	height: 360px;
}
/*A second invisible div block is created so the text is all the way to the right*/
div.albumtextwrap {
	width: 800px;
}
/*Setting the style of the text in the album credits*/
p.albumtext {
	font-size: 120%;
	float: right;
	text-align: left;
	font-family: impact, arial, sans-serif;
	margin: 15px;
}
/*Setting the style of the release date*/
span.albumdate {
	font-size: 160%;
	text-shadow: 2px 2px 5px #000000;
	color: #E62225;
}
/*Scaling the cover so it fits*/
img.cover {
	width: 320px;
	height: 320px;
	margin: 20px;
}
